{{ define "main" }}
  <h1 align="center">{{ .Title }}</h1>
  <div class="content">
    {{ .Content }}
    {{ range .Pages }}
      <li class="home-list-div">
        <a href="{{ .RelPermalink }}" class="home-list-link">
          <span class="home-list-date">{{ .Date | time.Format ":date_medium" }}</span>
          <span class="home-list-title">{{.LinkTitle}}</span>
          <span class="home-list-duration">{{.ReadingTime }} min read</span>
        </a>
      </li>
    {{ end }}

  </div>
{{ end }}
