body {
  font-family: Mulish, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  /* color: #222;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px; */
  margin-left: auto;
  margin-right: auto;
}

header {
  margin-bottom: 2rem;
  height: 100px;
  align-content: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

main {
  margin: 0 auto;
  max-width: 1200px;
}

.header-wrapper {
  max-width: 1200px;  
}

footer {
  margin-top: 100px;
}

a {
  color: #00e;
  text-decoration: none;
}


.content {
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  grid-auto-flow: row dense;
  /* justify-content: space-between;
  height: 25px;
  background: gainsboro;
  padding: 10px; */
}

.navbar-brand {
  /* font-size: 20px; */
  grid-column-start: 2;
  font-weight: bold;
  font-size: 22px;
  font-weight: 700;
}

.navbar-left {
  grid-column-start: 1;
}

.navbar-left .navbar-left-menu {
  /* display: inline-flex; */
  /* justify-content: flex-start; */
}

.navbar-left .navbar-left-menu ul {
  display: flex;
  padding: 0;
  gap: 15px;
}

.navbar-left .navbar-left-menu li {
  display: inline-flex;
  text-decoration: none;
  font-size: 14px;
  margin-right: 10px;
  color: black;
  transition: all 100ms;
  font-size: 15px;
  font-weight: 700;
}


.navbar-right {
  grid-column-start: 3;
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none !important;
  color: black;
}

.navbar-right a {
  text-decoration: none;
  font-size: 14px;
  margin-right: 10px;
  color: black;
  transition: all 100ms;
}

.navbar-right a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.home-list {
    margin-top: 60px;
}


.home-list-div {
  list-style: none;
  border-bottom: 1px solid #e6e6e6;
}

.home-list-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
}

.home-list-div:last-child {
  border-bottom: none;
}

.home-list-link:hover {
  font-size: 10px;
  font-weight: 900;
}

.home-list-link .home-list-date {
  font-size: 14px;
  font-weight: 700;
  color: #47b1db;

}

.home-list-link .home-list-title {
  margin-left: 25px;
  font-size: 16px;
  line-height: 1.3;
}

.home-list-link .home-list-duration {
  font-size: 14px;
  color: #666;
  margin-left: auto;
  font-weight: 600;
}

.content p {
  font-size: 17px;
  line-height: 27px;
  letter-spacing: normal;
  font-weight: 300;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 1.3;
  margin-top: 10px;
}

h2 {
  margin-top: 40px;
  /* font-weight: 800; */
  line-height: 1.3;
}


.date {
  color: #999;
  font-size: 12px;
  font-weight: 800;
}

.terms-wrapper {
  display: inline-block;
}

.terms-label {
  display: none;
}

.terms-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.terms-item {
  display: inline-block;
  margin-right: 3px;
}

.terms-item a {
  color: #47b1db;
  font-size: 14px;
}

.copyright {
  font-size: 14px;
  color: #666;
}

.main-image {
  min-width: 720px;
  max-width: 1200px;
}

.cover-content {
  max-width: 500px;
}

.cover-intro {
  text-align: center;
  margin-top: 40px;
}

.summary {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 20px;
  color: #666;
  max-width: 700px;
  margin: 0 auto 30px auto;
  border-left: 5px solid #47b1db;
  padding-left: 20px;

}
